<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <h2>Carrito de Compras</h2>
    <div>
      <ul>
        {{#each cart.products}}
          <li>
            <div>
              <h2>{{this.product.title}}</h2>
              <p>Categoría: <strong>{{this.product.category}}</strong></p>
              <p>Descripción: {{this.product.description}}</p>
            </div>
            <div>
              <p>Cantidad: {{this.quantity}}</p>
            </div>
            <div>
              <p>Precio: ${{this.product.price}}</p>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>