<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1>Lista de productos</h1>
    <button
        onclick="seeCart()"
    ><strong>Ver Carrito</strong></button>
    <table>
      <thead>
        <tr>
          <td><strong>Id</strong></td>
          <td><strong>Título</strong></td>
          <td><strong>Categoría</strong></td>
          <td><strong>Descripción</strong></td>
          <td><strong>Código</strong></td>
          <td><strong>Precio</strong></td>
          <td><strong>Status</strong></td>
          <td><strong>Stock</strong></td>
          <td><strong>Imágenes</strong></td>
        </tr>
      </thead>
      <tbody>
        {{#each products.docs}}
          <tr>
            <td>{{_id}}</td>
            <td>{{this.title}}</td>
            <td>{{category}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>${{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{thumbnail}}</td>
            <td>
              <button
                id="add-to-cart"
                data-product-id="{{_id}}"
                onclick="addProductToCart('{{_id}}')"
              ><strong>Agregar al carrito</strong></button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="pagination">
      {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}> << Anterior página  </a>
      {{/if}}

      <p>{{products.page}} de {{products.totalPages}}</p>

      {{#if products.hasNextPage}}
        <a href={{products.nextLink}}> Siguiente página >> </a>
      {{/if}}
    </div>

    <script src="/js/cart.js"></script>
  </body>
</html>