<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lista de productos</h1>
    <table id="table">
      <thead>
        <tr>
          <td>Id</td>
          <td>Título</td>
          <td>Descripción</td>
          <td>Código</td>
          <td>Precio</td>
          <td>Status</td>
          <td>Stock</td>
          <td>Imágenes</td>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>${{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{thumbnail}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <form id="addProduct">
      <h3>Añadir nuevo producto</h3>
      <div>
        <label for="title">Título</label>
        <input type="text" name="title" id="title" />
      </div>
      <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description" />
      </div>
      <div>
        <label for="code">Código</label>
        <input type="text" name="code" id="code" />
      </div>
      <div>
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" />
      </div>
      <div>
        <label for="status">Estado</label>
        <select id="status" name="status">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
      <div>
        <label for="stock ">Stock</label>
        <input type="number" name="stock" id="stock" />
      </div>
      <div>
        <label for="thumbnail">Imágenes</label>
        <input type="text" name="thumbnail" id="thumbnail" />
      </div>
      <button type="submit">Agregar</button>
    </form>

    <form id="deleteProduct">
      <h3>Eliminar productos</h3>
      <div>
        <label for="id">Id del producto</label>
        <input type="text" name="id" id="id" />
      </div>
      <button type="submit">Eliminar</button>
    </form>

    <div id="responseContainer"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>